
<!-- page 容器 -->
<div class="page" id="page-find">
	<!-- 标题栏 -->
	<header class="bar bar-nav">
		<div class="buttons-row">
			<a href="#tab1" class="tab-link active button">好啊</a> <a
				href="#tab2" class="tab-link button">不好了</a> <a href="#tab3"
				class="tab-link button">你好</a>
				<a href="#tab3"
				class="tab-link button">你好</a>
		</div>
	</header>

	<div class="content infinite-scroll infinite-scroll-bottom"
		data-distance="50" id="findScrell">

		<!-- 内容 -->
		<div class="content-block-title zxkz">最新口子</div>
		<div class="list-block media-list productList" id="products">
			<ul class="list-container find">

			</ul>
		</div>
		<!-- 加载提示符 -->
		<div class="infinite-scroll-preloader" id ="findPreloader">
			<div class="preloader"></div>
		</div>
	</div>

</div>