
<!-- page 容器 -->
<div class="page" id="page-find">
	<!-- 标题栏 -->
	<header class="bar bar-nav findTitle">
		<h1 class="title ftitle">贷款超市</h1>
	</header>
	<div class="pTypes">
		<span class="ptype"><em>贷款分类</em><i></i></span> <span class="dked"><em>贷款额度</em><i></i></span>
	</div>
	<div class="tcc" style="display: hidden;">
		<div class="tc1">
			<span>贷款分类</span> <span th:each="type : ${types}" th:id="${type.id}"
				th:text="${type.typeName}"></span>
		</div>
		<div class="tc2" id="wrapper2">
			<ul>
				<li>贷款额度</li>
				<li>500元</li>
				<li>1000元</li>
				<li>1500元</li>
				<li>2000元</li>
				<li>3000元</li>
				<li>4000元</li>
				<li>5000元</li>
				<li>6000元</li>
				<li>7000元</li>
				<li>8000元</li>
				<li>9000元</li>
				<li>10000元</li>
				<li>15000元</li>
				<li>20000元</li>
				<li>30000元</li>
				<li>50000元</li>
				<li>10万元</li>
				<li>20万元</li>
			</ul>
		</div>
	</div>
	<div class="content infinite-scroll infinite-scroll-bottom findScrell"
		data-distance="50" id="findScrell">
		<div class="txdqjg">
    		 同时申请多个产品，可大幅提高借款成功率
  		</div>
		<!-- 内容 -->
		<div class="list-block media-list productList" id="products">
			<ul class="list-container find">

			</ul>
		</div>
		<!-- 加载提示符 -->
		<div class="infinite-scroll-preloader" id ="findPreloader">
			<div class="preloader"></div>
		</div>
	</div>

</div>