<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>钱牛牛</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" th:href="@{/shopMain/css/light7.min.css}">
<link rel="stylesheet" th:href="@{/shopMain/css/light7-swiper.min.css}">
<!-- <link th:href="@{/shopMain/css/reset.css}" rel="stylesheet" type="text/css" /> -->

<link rel="stylesheet" th:href="@{/shopMain/css/shop.css}">
</head>
<body>

	<!-- 工具栏 -->
	<nav class="bar bar-tab">
		<a class="tab-item active" href="#page-home" id ="home" onclick="lazy(1)"> <span class="icon icon-home"></span>
			<span class="tab-label">首页</span>
		</a> <a class="tab-item" href="#page-find" id ="find" onclick="lazy(1)"> <span class="icon icon-clock"></span>
			<span class="tab-label">发现</span>
		</a> <a class="tab-item" href="#page-my"> <span class="icon icon-me"></span>
			<span class="tab-label">我的</span>
		</a>
	</nav>

	<div th:replace="/shopMain/home.html"></div>
	<div th:replace="/shopMain/find.html"></div>
	<!-- popup, panel 等放在这里 -->

	<!-- Panel-->
	<div class="panel-overlay"></div>
	<!-- Left Panel with Reveal effect -->
	<div class="panel panel-left panel-reveal">
		<div class="content-block">
			<p>这是一个侧栏</p>
			<p></p>
			<!-- Click on link with "close-panel" class will close panel -->
			<p>
				<a href="#" class="close-panel">关闭</a>
			</p>
		</div>
	</div>
		<!-- Services Popup -->
	<div class="popup popup-services">
	</div>
	<script type='text/javascript' th:src='@{/shopMain/js/jquery.min.js}'
		charset='utf-8'></script>
	<script type='text/javascript' th:src='@{/shopMain/js/light7.min.js}'
		charset='utf-8'></script>
	<script type='text/javascript' th:src='@{/shopMain/js/light7-swiper.min.js}'
		charset='utf-8'></script>
	<script type='text/javascript' th:src="@{/shopMain/js/jquery.lazyload.min.js}"
		charset='utf-8'></script>
	<script type='text/javascript' th:src="@{/shopMain/js/shop.js}"
		charset='utf-8'></script>
</body>
</html>